
@{
    Layout = null;
}
<div id="headerPopup_CustomerCare" class="header">
    Phim
</div>

<div class="image content">
    <div class="ui massive image">
        <img id="avatarMovieUpload" class="ui mini image" src="/img/404.png" alt="label-image" style="width: 100%; height: auto;" />
        <div>&nbsp</div>
        <div class="btn btn-success upload-btn-wrapper" style="width: 100%; margin-top: 6px;">
            <button class="btn" style="width: 100%">Chọn Hình</button>
            <input id="fileuploadImageMovie" type="file" onchange="readURL(this);" accept="image/*"/>
        </div>
        <div class="field">
            <video controls style="width: 100%">
                <source src="mov_bbb.mp4" id="video_here">
            </video>
            <div class="btn btn-success upload-btn-wrapper" style="width: 100%; margin-top: 6px;">
                <button class="btn" style="width: 100%">Chọn Video Trailer</button>
                <input type="file" id="Video" class="file_multi_video" accept="video/*" />
            </div>
            
        </div>
        
        

    </div>
    <div class="description">
        <form class="ui form segment form3" id="form3">
            <div class="ui accordion field">
                <div class="content field active">
                    <div class="two fields">
                        <div class="field">
                            <label>Tên Phim - VN</label>
                            <input id="txtNameVN" name="NameMovieVN"  type="text" />
                        </div>
                        <div class="field">
                            <label>Tên Phim - EN</label>
                            <input id="txtNameEN" name="NameMovieEN"  type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Năm Sản Xuất</label>
                            <input  id="YearMovie" name="YearMovie" type="number" />
                        </div>
                        <div class="field">
                            <label>Quốc Gia</label>
                            <div class="ui fluid search selection dropdown" id="Nationality">
                                <input type="hidden" name="Nationality">
                                <i class="dropdown icon"></i>
                                <div class="default text">Chọn Quốc Gia</div>
                                <div class="menu" id="cbbNationality">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label>Lứa Tuổi</label>
                            <div class="ui fluid search selection dropdown" id="AgeType">
                                <input type="hidden" name="AgeType">
                                <i class="dropdown icon"></i>
                                <div class="default text">Chọn Lứa Tuổi</div>
                                <div class="menu" id="cbbAgeType">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Thời Gian Khởi Chiếu</label>
                            <input class="flatpickr" id="Opening_Time" name="OpeningTime" type="text" placeholder="Ngày Khởi Chiếu.." />
                        </div>
                        <div class="field">
                            <label>Thời Lượng Phim(Phút)</label>
                            <input id="txtMovieTimeDuration" name="MovieTimeDuration" type="number" />
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label>Sub</label>
                            <div class="ui fluid search selection dropdown" id="SubTitle">
                                <input type="hidden" name="SubTitle">
                                <i class="dropdown icon"></i>
                                <div class="default text">Chọn Sub</div>
                                <div class="menu" id="cbbSubTitle">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Thể Loại</label>
                            <div class="ui fluid search multiple selection dropdown" id="MovieType">
                                <input type="hidden" name="MovieType">
                                <i class="dropdown icon"></i>
                                <div class="default text">Chọn Thể Loại</div>
                                <div class="menu" id="cbbMovieType">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Loại Trình Chiếu</label>
                            <div class="ui fluid search multiple selection dropdown" id="MovieTicketType">
                                <input type="hidden" name="MovieTicketType">
                                <i class="dropdown icon"></i>
                                <div class="default text">Chọn Loại Trình Chiếu</div>
                                <div class="menu" id="cbbMovieTicketType">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Đạo Diễn</label>
                            <div class="ui fluid search  multiple selection dropdown" id="Director">
                                <input type="hidden" name="Director">
                                <i class="dropdown icon"></i>
                                <div class="default text">Chọn Đạo Diễn</div>
                                <div class="menu" id="cbbDirector">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Diễn Viên</label>
                            <div class="ui fluid search multiple selection dropdown" id="Actor">
                                <input type="hidden" name="Actor">
                                <i class="dropdown icon"></i>
                                <div class="default text">Chọn Diễn Viên</div>
                                <div class="menu" id="cbbActor">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Ghi Chú</label>
                        <textarea id="txtNote" rows="5" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="actions">
    <div style="float: right">
        <button class="ui teal button" form="form3" type="submit" onclick="return ExcuteData()">Save</button>
    </div>
    <div style="float: right">
        <button class="ui grey button"  onclick="event.preventDefault(); CloseModal();">Cancel</button>
    </div>
</div>

<script src="/js/customjs/custom-validation.js"></script>
<script src="/js/main.js"></script>

<script>
    var MovieDetailID;
    var AvatarString = '';
    var VideoString = '';
    var DataAvatar;
    $(document).ready(function () {
        $("#Opening_Time").flatpickr({
            dateFormat: 'd-m-Y',
            enableTime: false,
            minDate: "today"
        });      
        MovieDetailID = @ViewBag.MovieID;
        LoadDataUpdateMovie();
    });

    function LoadDataUpdateMovie() {
        $.ajax({
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            url: "/Admin/MovieDetail/GetMovieDetail/" + MovieDetailID,
            async: true,
            success: function (result) {
                
                LoadComboNational(result.National, "cbbNationality");
                LoadCombo(result.AgeType, "cbbAgeType");
                LoadCombo(result.SubTitle, "cbbSubTitle");
                LoadCombo(result.MovieType, "cbbMovieType");
                LoadCombo(result.MovieTicketType, "cbbMovieTicketType");
                LoadCombo(result.Director, "cbbDirector");
                LoadCombo(result.Actor, "cbbActor");
                let data = result.LoadDetail;
                if (data.length != 0) {
                    $('#txtNameVN').val((data[0].Name_VN));
                    $('#txtNameEN').val((data[0].Name_EN));

                    $("#Nationality").dropdown("refresh");
                    $("#Nationality").dropdown("set selected", data[0].Nationality);

                    $('#YearMovie').val((data[0].Year_Movie));
                    $("#AgeType ").dropdown("refresh");
                    $("#AgeType ").dropdown("set selected", data[0].Ages_ID);

                    $('#Opening_Time').val((data[0].Opening_Time));
                    $('#txtMovieTimeDuration').val((data[0].Movie_Time_Duration));

                    $("#SubTitle").dropdown("refresh");
                    $("#SubTitle").dropdown("set selected", data[0].SubTitle_ID);

                    var movietype = (data[0].MovieType_ID).split(',');
                    $("#MovieType").dropdown("refresh");
                    $("#MovieType").dropdown("set selected", movietype);

                    var movietickettype = (data[0].MovieTicketType_ID).split(',');
                    $("#MovieTicketType").dropdown("refresh");
                    $("#MovieTicketType").dropdown("set selected", movietickettype);

                    var director = (data[0].Director_ID).split(',');
                    $("#Director").dropdown("refresh");
                    $("#Director").dropdown("set selected", director);

                    var actor = (data[0].Actor_ID).split(',');
                    $("#Actor").dropdown("refresh");       
                    $("#Actor").dropdown("set selected", actor);
                    $('#txtNote').val((data[0].Note));
                    if (data[0].Image == '' || data[0].Image == undefined) {
                        $('#avatarMovieUpload').attr('src', '');
                    }
                    else {
                        $('#avatarMovieUpload').attr('src', data[0].Image);
                        avatarString = data[0].Image;
                    }
                    if (data[0].VideoTrailer == '' || data[0].VideoTrailer == undefined) {
                        $('#video_here').attr('src', '');
                    }
                    else {
                        $('#video_here').attr('src', data[0].VideoTrailer);
                        VideoString = data[0].VideoTrailer;
                    }
                }
            }
        });
    }
    function LoadComboNational(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<div class="item" data-value="' + item.Value + '" > <i class="' + item.Value + ' flag"></i>' + item.Name + '</div>'
                    stringContent = stringContent + tr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }

    function ExcuteData() {
        
        var data = new Object();
        data.NameVN = $('#txtNameVN').val() ? $('#txtNameVN').val() : "";
        data.NameEN = $('#txtNameEN').val() ? $('#txtNameEN').val() : "";
        data.Image = GetFileURL();
        data.VideoTrailer = GetFileURLVideo();
        data.NationalityID = $("#Nationality").dropdown('get value') ? $("#Nationality").dropdown('get value') : '';
        data.YearMovie = $('#YearMovie').val() ? Number($('#YearMovie').val()) : 0;
        data.AgeID = $('#AgeType').dropdown('get value') ? Number($('#AgeType').dropdown('get value')) : 0;
        data.OpeningTime = $('#Opening_Time').val() ? ConvertStringYMD_DMY($('#Opening_Time').val()) : '';
        data.MovieTimeDuration = $('#txtMovieTimeDuration').val() ? Number($('#txtMovieTimeDuration').val()) : 0;
        data.SubTitleID = $('#SubTitle').dropdown('get value') ? Number($('#SubTitle').dropdown('get value')) : 0;
        data.MovieTypeID = $('#MovieType').dropdown('get value') ? ($('#MovieType').dropdown('get value')+',') : '';
        data.MovieTicketTypeID = $('#MovieTicketType').dropdown('get value') ? ($('#MovieTicketType').dropdown('get value')+',') : 0;
        data.DirectorID = $('#Director').dropdown('get value') ? ($('#Director').dropdown('get value')+',') : 0;
        data.ActorID = $('#Actor').dropdown('get value') ? ($('#Actor').dropdown('get value')+',') : '';
        data.Note = $('#txtNote').val() ? $('#txtNote').val() : "";
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            $.ajax({
                url: "/Admin/MovieDetail/Execute",
                dataType: "json",
                type: "POST",
                data: {
                    __RequestVerificationToken: token
                    , MovieID: @ViewBag.MovieID
                    , data: JSON.stringify(data)
                },
                async: true,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notiError("Lỗi Hệ Thống");
                },
                success: function (result) {
                    
                    if (result == "0") {
                        
                            UploadImageMovie();
                        UploadVideoMovie();
                        
                        notiSuccess();
                        LoadMovie();
                    } else {
                        notiError();
                    }
                }
            })
            $('#divDetailPopup').modal('hide');
        }
         return false;
    };

    function UploadVideoMovie() {
        var Video = $("#Video")[0].files[0];
        var formData = new FormData();
        formData.append("files", Video);     
        $.ajax({
            url: "/UploadFile/Upload",
            dataType: "json",
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            async: true,
        });            
    }
    function UploadImageMovie() {
        var Video = $("#fileuploadImageMovie")[0].files[0];
        var formData = new FormData();
        formData.append("files", Video);
        $.ajax({
            url: "/UploadFile/UploadImageMovie",
            dataType: "json",
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            async: true,
        });
    }
    function readURL(input) {
        var ext = input.files[0]['name'].substring(input.files[0]['name'].lastIndexOf('.') + 1).toLowerCase();
        if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#avatarMovieUpload').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        } else {
            $('#avatarMovieUpload').attr('src', '/img/404.png');
        }
    }
    function GetFileURL() {
        if (document.getElementById("fileuploadImageMovie").files.length != 0) {
            var fullPath = document.getElementById('fileuploadImageMovie').value;
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = '../img/Movie/' + filename.substring(1);
                }
                return filename;
            }
        } else return avatarString;
    }
    function GetFileURLVideo() {
        if (document.getElementById("Video").files.length != 0) {
            var fullPath = document.getElementById('Video').value;
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = '../VideoUpload/Movie/' + filename.substring(1);
                }
                return filename;
            }
        } else return VideoString;
    }
    $(document).on("change", ".file_multi_video", function (evt) {
        
        var $source = $('#video_here');
        $source[0].src = URL.createObjectURL(this.files[0]);
        $source.parent()[0].load();
    })
    
</script>
<style>
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .btn {
        color: #0288d1;
        background-color: white;
        border-radius: 21px;
        font-size: 12px;
        /* font-weight: bold; */
        border-style: solid;
        border-width: 1px;
    }

    .iti {
        width: 100%;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .percentIcon {
        color: #e03997;
        padding-left: 10px;
    }

    .vtth_unit {
        padding: 0px 5px 0px 5px;
        color: red;
    }

    .vtth_row {
        padding: 3px 10px 3px 10px;
        background: #f3f3f5;
        color: #0288d1;
        border-radius: 20px;
        margin-right: 5px;
    }

    .vtth_num {
        font-size: 16px;
    }

    .state1 {
        background: #037e20;
        padding: 3px;
        color: white;
        border-radius: 20px;
        font-size: 12px;
        display: block;
        text-align: center;
    }

    .state0 {
        background: #e0e0e0;
        padding: 3px;
        color: #0288d1;
        border-radius: 20px;
        font-size: 12px;
        display: block;
        text-align: center;
    }

    .numservice {
        font-size: 12px !important;
        background: #0190ddf7 !important;
        color: #fcfcfc !important;
        min-width: 32px;
        margin: 0px 6px !important;
        padding: 4px 10px !important;
    }

    .numservicetotal {
        background: #6435c9 !important;
        font-size: 14px !important;
    }

    .percentIcon {
        color: #e03997;
        padding-left: 10px;
    }

    .vtth_unit {
        padding: 0px 5px 0px 5px;
        color: #21ba45;
    }

    .vtth_row {
        padding: 3px 10px 3px 10px;
        background: #f3f3f5;
        color: #056fa8;
        border-radius: 20px;
        margin-right: 5px;
    }

    .vtth_num {
        color: rgba(0,0,0,.95);
    }
</style>