
@{ Layout = null; }

    <div id="headerPopup_CustomerCare" class="header">
        Thể Loại
    </div>
<div class="row">
    <div class="sixteen wide tablet eight wide computer column">
        <div class="ui segments">
            <form class="ui form segment form3" id="form3">
                <div class="ui accordion field">
                    <div class="content field active">
                        <div class="two fields">
                            <div class="field">
                                <label>Tên Thể Loại</label>
                                <input id="txtName" type="text" name="MovieType" />
                            </div>
                            <div class="field">
                                <label>Ghi Chú</label>
                                <input id="txtNote" name="Name" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="actions">
    <div style="float: right">
        <button class="ui teal button" form="form3" type="submit" onclick="return ExcuteData()">Save</button>

    </div>
    <div style="float: right">
        <button class="ui grey button" form="form3" onclick="event.preventDefault();CloseModal()">Cancel</button>
    </div>
</div>
<script src="/js/customjs/custom-validation.js"></script>
<script src="/js/main.js"></script>
<script>
    debugger
    let MovieTypeDetailID;
    $(document).ready(function () {
        MovieTypeDetailID = @ViewBag.MovieTypeID;
        LoadDataUpdateMovieType();
    });
    debugger

    function LoadDataUpdateMovieType() {
        $.ajax({
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            url: "/Admin/MovieTypeDetail/GetMovieTypeDetail/" + MovieTypeDetailID,
            async: true,
            success: function (data) {
                if (data.length != 0) {
                    $('#txtName').val((data[0].Nametype));
                    $('#txtNote').val((data[0].Note));
                }
            }
        });
    }
    function ExcuteData() {
        var data = new Object();
        data.Name = $('#txtName').val() ? $('#txtName').val() : "";
        data.Note = $('#txtNote').val() ? $('#txtNote').val() : "";
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
             $.ajax({
                 url: "/Admin/MovieTypeDetail/Execute",
                 dataType: "json",
                 type: "POST",
                 data: {
                     __RequestVerificationToken: token
                     , MovieTypeID: @ViewBag.MovieTypeID
                     , data: JSON.stringify(data)
                 },
                 async: true,
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        notiError("Lỗi Hệ Thống");
                 },
                 success: function (result) {
                     if (result == "0") {
                         notiSuccess();
                         LoadMovieType();
                     } else {
                         notiError("Lứa Tuổi Đã Tồn Tại Vui Lòng Kiểm Tra Lại");
                        }
                 }
             })
             $('#divDetailPopup').modal('hide');
        }
         return false;
    }
</script>