
@{
    ViewData["Title"] = "Lịch Phim";
    Layout = "~/Views/Shared/Master.cshtml";
}
    <script src="~/Momentjs/moment.js"></script>
<div class="pusher">
    <div class="navslide navwrap">
        <div class="row" style="background-color: white">
            <div class="ui form segment form3">
                <h2 class="ui center aligned header" style="border-top: 1px; font-family: 'Times New Roman'">
                    Danh Sách Lịch Phim
                </h2>
                <div class="four fields" style="margin: 0px;">
                    <div class="field">
                        <button class="ui blueli button" data-value="fade up" onclick="return AddNewSchedule()">Thêm mới</button>
                    </div>
                    <div class="field">
                        <div class="ui fluid search selection dropdown" id="Branch" onchange="OnchangeBranch();">
                            <input type="hidden" name="country">
                            <i class="dropdown icon"></i>
                            <div class="default text">Chọn Chi Nhánh</div>
                            <div class="menu" id="cbbBranch">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <input class="flatpickr" id="dateFilter"  type="text" placeholder="Chọn Thời Gian Chiếu" onchange="onchangeFilterSchedule()"/>
                    </div>
                    <div class="field">
                        <div class="ui icon input" style="max-height: 40px;">
                            <input id="filterSchedule" type="text" placeholder="Seaching..." onkeyup="event.preventDefault();return onkeyupScheduleFitler();">
                            <i class="circular search link icon"></i>
                        </div>
                    </div>
                </div>
                <div class="ui segment" style="border: none; overflow-x: auto; padding: unset;">
                    <table id="dtContentSchedule" class="ui sortable celled table">
                        <thead class="hiddenCollapse">
                            <tr role="row">
                                <th style="display: none">ID</th>
                                <th style="width: 70px;">#</th>
                                <th>ScheduleCode</th>
                                <th style="min-width: 60px">Tên Phim</th>
                                <th style="max-width: 120px;">Phòng</th>
                                <th style="max-width: 300px;">Loại Công Chiếu</th>
                                <th style="max-width: 300px;">Thời Gian Chiếu</th>
                                <th>Xoá</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentScheduleBody">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    let DataSchedule;
    let DataBranch;
    function Render_Schedule(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display:none !important">' + item.ID + '</td>'
                        + '<td data-sortValue="' + Number(i) + '">' + (i + 1) + '</td>'
                        + '<td ><a style="text-decoration: underline;" class="buttonEditClass" href="#">' + item.ScheduleCode + '</a></td>'
                        + '<td >' + item.NameMovie + '</td>'
                        + '<td >' + item.Room + '</td>'
                        + '<td >' + item.TicketType + '</td>'
                        + '<td >' + item.ShowTime + '</td>'
                        + '<td class="selectedtd"><button class="buttonGrid _tab_control_" data-tab="delete_service_type" value="'
                        + item.ID
                        + '"><img class="buttonDeleteClass imgGrid" src="/img/ButtonImg/delete_ver2.png"></button></td>'
                    stringContent = stringContent + '<tr class="seachRow" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function LoadSchedule() {
        $.ajax({
            url: "Schedule/LoadSchedule",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                notiError();
            },
            success: function (result) {
                DataSchedule = result.Schedule;
                Render_Schedule(DataSchedule, "dtContentScheduleBody");
                DataBranch = result.Branch;
                LoadCombo(DataBranch, "cbbBranch");
            }
        });
    }
    $(document).ready(function () {
        //$('#dtContentSchedule').tablesort();
        $("#dateFilter").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        $("#dateFilter").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));
        LoadSchedule();
        $("#Branch").dropdown("set selected",0);
        $('#dtContentSchedule tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            EditSchedule(ID);
        });
        $('#dtContentSchedule tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            DeleteSchedule(ID);
        });
    });

    function AddNewSchedule() {
        document.getElementById("divDetailPopup").innerHTML = '';
        $("#divDetailPopup").load("ScheduleDetail/" + 0);
        $('#divDetailPopup').modal('show');
        return false;
    }

    function EditSchedule(CurrentID) {
        document.getElementById("divDetailPopup").innerHTML = '';
        $("#divDetailPopup").load("ScheduleDetail/" + CurrentID);
        $('#divDetailPopup').modal('show');
        return false;
    }

    function DeleteSchedule(id) {
        const promise = notiConfirm();
        promise.then(function () { ExecuteDeleteSchedule(id); }, function () { });
    }

    function ExecuteDeleteSchedule(ID) {
        $.ajax({
            url: "Schedule/DeleteSchedule/"+ID,
            dataType: "json",
            type: "GET",
            data: JSON.stringify({
                'ID': ID
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                notiError(textStatus);
            },
            success: function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadSchedule();
                } else {
                    notiError();
                }
            }
        });
    }

    function onkeyupTicketFitlerAsync(extension) {
        return new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    let search = xoa_dau($('#filterSchedule').val().toLowerCase()).trim();

                    let data = DataSchedule.filter(function (item) {
                        if (xoa_dau(item["ShowTime"]).toLowerCase().includes(search)
                            || xoa_dau(item["NameNoSign"]).toLowerCase().includes(search))
                            return true;
                        return false;
                    });
                    if (data != undefined && data != null) {
                        document.getElementById("dtContentScheduleBody").innerHTML = "";
                        Render_Schedule(data, "dtContentScheduleBody");
                        ColorSearchFilterText(search, "seachRow");
                    }
                    resolve()
                },
                Math.floor(Math.random() * 300) + 1
            )
        })
    }

    async function onkeyupScheduleFitler() {
        await onkeyupTicketFitlerAsync();
        return false;
    }
    function OnchangeBranch() {
        let BranchID = $("#Branch").dropdown('get value') ? $("#Branch").dropdown('get value') : 0;
        if (BranchID == 0) {
            onkeyupScheduleFitler();
        }
        else {
            let data = DataSchedule.filter(word => word["BranchID"] == BranchID);
            document.getElementById("dtContentScheduleBody").innerHTML = "";
            Render_Schedule(data, "dtContentScheduleBody");
        }
    }
    function onchangeFilterSchedule() {
        let Date = $('#dateFilter').val();
        let DateFrom = new Date();
        let DateTo = new Date();     
        if (Date.indexOf('to') != -1) {
            Date = Date.split(' to ');
            DateFrom = moment(Date[0], 'DD/MM/YYYY').format('YYYY/MM/DD');
            DateTo = moment(Date[1], 'DD/MM/YYYY').format('YYYY/MM/DD');
        }
        else {
            DateFrom = Date;
            DateTo = Date;
        }
    }
</script>


