
@{
    ViewData["Title"] = "CatalogView";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}

@section Style{
      
}
<!-- page title -->
<section class="section section--first section--bg" data-bg="~/Clients/img/home/home__bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Phim</h2>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="#">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Phim </li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- filter -->

<!-- end filter -->
<!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row" id="MovieCurrentlyPlaying" style="margin-top:20px">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- paginator -->
        <div class="col-12">
            <ul class="paginator paginator--list" id="Pagination">
            </ul>
        </div>
    </div>
</div>
<!-- end catalog -->
<!-- expected premiere -->
<section class="section section--bg" data-bg="img/section/section.jpg" style="background: url('~/wwwroot/Clients/img/section/section.jpg')">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title">Expected premiere</h2>
            </div>
            <!-- end section title -->
            <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="~/Clients/img/covers/cover.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                        <span class="card__category">
                            <a href="#">Action</a>
                            <a href="#">Triler</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="~/Clients/img/covers/cover3.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">Benched</a></h3>
                        <span class="card__category">
                            <a href="#">Comedy</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="~/Clients/img/covers/cover2.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">Whitney</a></h3>
                        <span class="card__category">
                            <a href="#">Romance</a>
                            <a href="#">Drama</a>
                            <a href="#">Music</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="~/Clients/img/covers/cover6.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">Blindspotting</a></h3>
                        <span class="card__category">
                            <a href="#">Comedy</a>
                            <a href="#">Drama</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="~/Clients/img/covers/cover4.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                        <span class="card__category">
                            <a href="#">Action</a>
                            <a href="#">Triler</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="~/Clients/img/covers/cover5.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">Benched</a></h3>
                        <span class="card__category">
                            <a href="#">Comedy</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- section btn -->
            <div class="col-12">
                <a href="#" class="section__btn">Show more</a>
            </div>
            <!-- end section btn -->
        </div>
    </div>
</section>
<!-- end expected premiere -->
@section Script
{
    <script>
        let DataMovie = "";
        let Pagination = "";
        let CountPagination = 0;
        let PageNumber = 1;
        var firstSlider = document.getElementById('filter__years');
        $(document).ready(function () {
            initializeFilterYear();
            LoadDataMovie();
            $('#Pagination').on('click', '.paginator__item', function () {
                $(this).addClass('paginator__item--active').siblings().removeClass('paginator__item--active');
                PageNumber = $(this).attr('data-page');
                LoadDataMovie();
            });
            console.log(firstSlider.noUiSlider.get());
        })
        function LoadDataMovie() {
            $.ajax({
                url: "Catalog/LoadDataMovie?Page=" + PageNumber ,
                dataType: "json",
                type: "GET",
                data: {
                },
                contentType: 'application/json; charset=utf-8',
                async: true,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notiError();
                },
                success: function (result) {
                    DataMovie = result.Table;
                    Pagination = result.Table1;
                    if (CountPagination == 0) {
                        CountPagination = Number(Pagination[0].Pagination);
                        RenderPagination(CountPagination, "Pagination");
                    }
                    RenderMovieList(DataMovie, "MovieCurrentlyPlaying");
                }
            });
        }
        function RenderMovieList(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            ' <div class="card card--list" >'
                            + ' <div class="row">'
                            + ' <div class="col-12 col-sm-4">'
                            + ' <div class="card__cover">'
                            + ' <img src="' + item.Image + '" alt="">'
                            + ' <a href="#" class="card__play" data-video= "' + item.VideoTrailer + '">'
                            + ' <i class="icon ion-ios-play"></i>'
                            + ' </a>'
                            + ' </div>'
                            + ' </div>'

                            + ' <div class="col-12 col-sm-8">'
                            + ' <div class="card__content">'
                            + ' <h3 class="card__title"><a href="/MovieDetail/' + item.ID + '">' + item.Name_VN + ' - ' + item.Name_EN + '</a></h3>'
                            + ' <span class="card__category"> <a href="#">' + item.Movie_Time_Duration + ' Phút</a></span>'
                            + ' <div class="card__wrap">'
                            + ' <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>'
                            + ' <ul class="card__list">'
                            + ' <li>' + item.MovieTicketType + '</li>'
                            + ' <li>' + item.Ages + '</li>'
                            + ' </ul>'
                            + ' </div>'
                            + ' <div class="card__description">'
                            + ' <p>' + item.Note + '.</p>'
                            + '</div></div></div></div></div>'


                        stringContent = stringContent + '<div class="col-6 col-sm-12 col-lg-6">' + tr + '</div>';
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        function RenderPagination(num, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '<li class="paginator__item paginator__item--prev">'
                    + ' <a href="#"> <i class="icon ion-ios-arrow-back"></i></a>'
                    + '</li >';
                for (var i = 1; i <= num; i++) {
                    stringContent = stringContent + ((i == 1) ? ('<li class="paginator__item paginator__item--active" data-page="' + i + '"><a href="#">' + i + '</a></li>') : ('<li class="paginator__item" data-page="' + i + '"><a href="#">' + i + '</a></li>'));
                }
                stringContent = stringContent + '<li class="paginator__item paginator__item--next">'
                    + '<a href="#"> <i class="icon ion-ios-arrow-forward"></i></a>'
                    + '</li>';
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        function initializeFilterYear() {
            function initializeFirstSlider() {
                if ($('#filter__years').length) {

                    noUiSlider.create(firstSlider, {
                        range: {
                            'min': 2000,
                            'max': 2020
                        },
                        step: 1,
                        connect: true,
                        start: [2005, 2015],
                        format: wNumb({
                            decimals: 0,
                        })
                    });
                    var firstValues = [
                        document.getElementById('filter__years-start'),
                        document.getElementById('filter__years-end')
                    ];
                    firstSlider.noUiSlider.on('update', function (values, handle) {
                        firstValues[handle].innerHTML = values[handle];
                    });
                } else {
                    return false;
                }
                return false;
            }
            $(window).on('load', initializeFirstSlider());
        }
    </script>
}