@{
    ViewData["Title"] = "Chi Tiết";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}

@section Style{
    <style>
        #dLabel, .flatpickr-input {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            background-color: #fff;
            border: solid 1px #cccccc;
            text-align: left;
            padding: 7.5px 15px;
            color: black;
            letter-spacing: 0.7px;
        }

        .caret {
            float: right;
            margin-top: 9px;
            display: block;
        }

        .dropdown-menu {
            width: 100%;
            padding: 0;
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .dropdown button:hover, .dropdown button:focus {
            border: none;
            outline: 0;
        }

        .dropdown.open button#dLabel {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
            border: solid 1px #666;
            border-bottom: none;
        }

        .dropdown.open ul {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
            border: solid 1px #666;
            border-top: none;
            height: 200px;
            overflow-y: scroll;
        }

        .dropdown-menu li {
            line-height: 1.5;
            letter-spacing: 0.7px;
            color: #666;
            font-size: 14px;
            cursor: pointer;
            padding: 7.5px 15px;
            border-top: solid 1px #f3f3f3;
        }

            .dropdown-menu li:hover {
                background-color: #ccc;
            }

        .lable-detail {
            color: white;
            font-size: 15px;
            font-weight: 400;
        }

        .sessions {
            padding-left: 0;
            padding-top: 0;
            line-height: 1;
            vertical-align: top;
            width: 100%;
            display:flex;
            flex-wrap:wrap;
            margin-bottom: 5px;
        }

        .session {
            width: calc(25% - 10px);
            float: left;
            font-family: 'SF Medium';
            font-size: 14px;
            font-weight: 400;
            margin: 0 10px 10px 0;
            padding: 8px;
            transition: all .2s;
            text-decoration: none;
            display: block;
            text-align: center;
            background-color: white;
            border-radius: 7px;
            color: #9b9b9b;
            border: 1px solid #e4e4e4;
            letter-spacing: -.12px;
            cursor: pointer;
        }

        .s-start-time {
            font-size: 18px;
            font-weight: 500;
            color: #108f3e;
            letter-spacing: -.16px;
        }

            .s-start-time:hover {
                color: orange;
            }
        .breadcrumb{
            background-color:gray;
        }
    </style>
}
<section class="section details">
    <!-- details background -->
    <div class="details__bg section section--first section--bg" data-bg="~/Clients/img/home/home__bg.jpg" ></div>
    <!-- end details background -->
    <!-- details content -->
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <h1 class="details__title" id="MovieName"></h1>
            </div>
            <!-- end title -->
            <!-- content -->
            <div class="col-12 col-xl-6">
                <div class="card card--details">
                    <div class="row">
                        <!-- card cover -->
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                            <div class="card__cover">
                                <img src="" id="ImageDetail" alt="">
                            </div>
                        </div>
                        <!-- end card cover -->
                        <!-- card content -->
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">
                                <div class="card__wrap">
                                    <span class="card__rate" id="rating"><i class="icon ion-ios-star"></i>8.4</span>
                                    <ul class="card__list" id="MovieTicketType">
                                        <li>HD</li>
                                    </ul>
                                    <ul class="card__list">
                                        <li id="Ages"></li>
                                    </ul>
                                </div>
                                <ul class="card__meta">
                                    <li>
                                        <span id="MovieType">Thể Loại</span>
                                    </li>
                                    <li>
                                        <span id="Director">Đạo Diễn</span>
                                    </li>
                                    <li>
                                        <span id="Actor">Diễn Viên</span>
                                    </li>
                                    <li><span>Năm ra mắt:</span><span id="Year"></span></li>
                                    <li><span>Thời lượng :</span><span id="Time"></span></li>
                                    <li><span>Quốc gia :</span> <a href="#" id="Country"></a> </li>
                                    <li><span>Ngày khởi chiếu :</span> <span id="Opening_Time"></span> </li>
                                </ul>
                                <div class="card__description card__description--details">
                                </div>
                            </div>
                        </div>
                        <!-- end card content -->
                    </div>
                </div>
            </div>
            <!-- end content -->
            <!-- player -->
            <div class="col-12 col-xl-6">
                <video controls id="player">
                    <!-- Video files -->
                    <source src="" type="video/mp4" size="1440">
                    <!-- Fallback for browsers that don't support the <video> element -->
                    <a href="" download>Download</a>
                </video>
            </div>
            <!-- end player -->

            <div class="col-12">
                <div class="details__wrap">
                    <!-- availables -->
                    <div class="details__devices card--details">
                        <span class="details__devices-title">Nội dung phim:</span>
                        <span class="card__description card__description--details" id="Note">

                        </span>
                    </div>
                    <!-- end availables -->
                    <!-- share -->
                    <div class="details__share">
                        <span class="details__share-title">Chia Sẻ:</span>

                        <ul class="details__share-list">
                            <li class="facebook"><a href="https://www.facebook.com/"><i class="icon ion-logo-facebook"></i></a></li>
                            <li class="instagram"><a href="https://www.instagram.com/?hl=vi"><i class="icon ion-logo-instagram"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/explore"><i class="icon ion-logo-twitter"></i></a></li>
                            <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
                        </ul>
                    </div>
                    <!-- end share -->
                </div>
            </div>
        </div>
    </div>
    <!-- end details content -->
</section>
<!-- end details -->
<!-- content -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title"></h2>
                    <!-- end content title -->
                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Lịch Chiếu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Bình Luận</a>
                        </li>


                    </ul>
                    <!-- end content tabs nav -->
                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="Comments">
                            <span></span>
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="true">Reviews</a></li>

                                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Lịch Chiếu</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <!-- content tabs -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane active show" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="lable-detail">Chọn Ngày Xem</label>
                                <input class="flatpickr" style="font-size:13px;" id="MovieShowTime" name="date" type="text" onchange="OnchangeSchedule();" />
                            </div>
                            <div class="col-sm-6" style="font-size:13px;">
                                <label class="lable-detail">Chọn Chi Nhánh</label>
                                <div class="dropdown">
                                    <button id="dLabel" class="dropdown-select" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chọn  Chi Nhánh
                                        <span class="caret"></span>
                                    </button>
                                    <input id="BranchID" hidden onchange="OnchangeSchedule();" value="0" />
                                    <ul class="dropdown-menu" aria-labelledby="dLabel" id="cbbBranch">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="reviews" style="margin-top:30px;">
                            <ul class="reviews__list" id="ScheduleList">
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane  " id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                        <div class="row">
                            <!-- reviews -->
                            <div class="col-12">
                                <div class="reviews">
                                    <ul class="reviews__list" id="CommentList">
                                    </ul>
                                    <form  class="form" id="formr" method="post">
                                        <textarea id="NoteRating" class="form__textarea" name="comment" placeholder="Bình Luận" required></textarea>
                                        <div class="form__slider">
                                            <div class="form__slider-rating" id="slider__rating"></div>
                                            <div class="form__slider-value" id="form__slider-value" name="rating"></div>
                                        </div>
                                        <button class="form__btn" form="formr" type="submit" onclick="return ExecuteRating();">Gửi</button>
                                    </form>
                                </div>
                            </div>
                            <!-- end reviews -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-4">
                <div class="row">
                    <!-- section title -->
                    <div class="col-12">
                        <h2 class="section__title section__title--sidebar">Có thể bạn thích..</h2>
                    </div>
                    <!-- end section title -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="~/Clients/img/covers/cover.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                                <span class="card__category">
                                    <a href="#">Action</a>
                                    <a href="#">Triler</a>
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="~/Clients/img/covers/cover2.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">Benched</a></h3>
                                <span class="card__category">
                                    <a href="#">Comedy</a>
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="~/Clients/img/covers/cover3.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">Whitney</a></h3>
                                <span class="card__category">
                                    <a href="#">Romance</a>
                                    <a href="#">Drama</a>
                                    <a href="#">Music</a>
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="~/Clients/img/covers/cover4.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">Blindspotting</a></h3>
                                <span class="card__category">
                                    <a href="#">Comedy</a>
                                    <a href="#">Drama</a>
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="~/Clients/img/covers/cover5.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                                <span class="card__category">
                                    <a href="#">Action</a>
                                    <a href="#">Triler</a>
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="~/Clients/img/covers/cover6.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">Benched</a></h3>
                                <span class="card__category">
                                    <a href="#">Comedy</a>
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
    </div>
</section>
@section Script{
    <script>
        let MovieDetailID = Number(@ViewBag.MovieDetailID);
        let ImageString = '';
        let VideoString = '';
        let DataImage;
        let DataMovie = "";
        let DataActor = "";
        let DataDirector = "";
        let DataMovieType = "";
        let DataMovieTicketType = "";
        let DataBranch = "";
        let DataSchedule = "";
        $(document).ready(function () {
            $("#MovieShowTime").flatpickr({
                dateFormat: 'd-m-Y',
                enableTime: false,
                minDate: "today",
                maxDate: new Date().fp_incr(7),
                defaultDate: "today"
            });
            function initializeThirdSlider() {
                if ($('#slider__rating').length) {
                    var thirdSlider = document.getElementById('slider__rating');
                    noUiSlider.create(thirdSlider, {
                        range: {
                            'min': 0,
                            'max': 10
                        },
                        connect: [true, false],
                        step: 0.1,
                        start: 5.0,
                        format: wNumb({
                            decimals: 1,
                        })
                    });

                    var thirdValue = document.getElementById('form__slider-value');

                    thirdSlider.noUiSlider.on('update', function (values, handle) {
                        thirdValue.innerHTML = values[handle];
                    });
                } else {
                    return false;
                }
                return false;
            }
            $(window).on('load', initializeThirdSlider());
            LoadDataMovie();
            LoadDataScheduleMovie();
            LoadDataComment();
        });
        function onclickDropdown() {
            $('.dropdown-menu li').on('click', function () {
                var getValue = $(this).attr("data-value");
                var gettext = $(this).text();
                $('.dropdown-select').text(gettext);
                $('#BranchID').val(getValue).trigger('change');;

            });
        }
        function OnchangeSchedule() {
            let BranchID = $('#BranchID').val() ? Number($('#BranchID').val()) : 0;
            let MovieShowTime = $('#MovieShowTime').val() ? $('#MovieShowTime').val() : '';

            let data = DataSchedule.filter(word => (word["ShowTime"]) == (MovieShowTime));
            if (BranchID != 0) {
                data = data.filter(word => word["BranchID"] == BranchID);
            }
            RenderScheduleList(data, "ScheduleList");
        }
        function process(date) {
            var parts = date.split("-");
            return new Date(parts[2], parts[1] - 1, parts[0]);
        }
        function LoadDataMovie() {
            $.ajax({
                type: 'GET',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                url: "GetMovieDetail/" + MovieDetailID,
                async: true,
                success: function (data) {
                    DataMovie = data.Table;
                    DataActor = data.Table1;
                    DataDirector = data.Table2;
                    DataMovieType = data.Table3;
                    DataMovieTicketType = data.Table4;
                    if (DataMovie != undefined && DataMovie.length != 0) {
                        $('#MovieName').text(DataMovie[0].Name_VN);
                        $('#Note').text(DataMovie[0].Note);
                        $('#Year').text(DataMovie[0].Year_Movie);
                        $('#Time').text(DataMovie[0].Movie_Time_Duration);
                        $('#Country').text(DataMovie[0].Nationality);
                        $('#MovieType').text(DataMovie[0].Name_Type);
                        $('#Opening_Time').text(DataMovie[0].Opening_Time);
                        $('#Ages').text(DataMovie[0].Ages);
                        if (DataMovie[0].Image == '' || DataMovie[0].Image == undefined) {
                            $('#ImageDetail').attr('src', '');
                        }
                        else {
                            $('#ImageDetail').attr('src', DataMovie[0].Image);
                            ImageString = DataMovie[0].Image;
                        }
                        if (DataMovie[0].VideoTrailer == '' || DataMovie[0].VideoTrailer == undefined) {
                            $('#player').attr('src', '');
                        }
                        else {
                            $('#player').attr('src', DataMovie[0].VideoTrailer);
                            VideoString = DataMovie[0].VideoTrailer;
                        }
                        if (DataActor.length != 0) {
                            RenderList(DataActor, "Actor", 'Diễn viên: ');
                        }
                        if (DataDirector.length != 0) {
                            RenderList(DataDirector, "Director", 'Đạo Diễn: ');
                        }
                        if (DataMovieType.length != 0) {
                            RenderList(DataMovieType, "MovieType", 'Thể Loại: ');
                        }
                        if (DataMovieTicketType.length != 0) {
                            RenderListMovieTicketType(DataMovieTicketType, "MovieTicketType");
                        }
                    }

                }
            })
        };
        function RenderList(data,id,string) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = string;
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        stringContent = stringContent + '<a href="' + item.ID + '">' + item.Name + '</div>';
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        function RenderListMovieTicketType(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        stringContent = stringContent +'<li>'+ item.Name +'</li>';
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        function LoadDataComment() {
            console.log(MovieDetailID);
            $.ajax({
                url: "LoadDataComment",
                dataType: "json",
                type: "POST",
                data:{
                    MovieID: MovieDetailID
                },
                async: true,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notiError();
                },
                success: function (result) {
                    RenderComment(result, "CommentList");
                }
            });
        }
        function RenderComment(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = '<div class="reviews__autor">'
                            + '<img class="reviews__avatar" src="' + item.Avatar + '" alt = "">'
                            + '<span class="reviews__name">' + item.Name + '</span>'
                            + '<span class="reviews__time">' + item.Created + '</span>'
                            + '<span class="reviews__rating"><i class="icon ion-ios-star"></i>' + item.Rating + '</span></div>'
                            + '<p class="reviews__text">' + item.Note + '</p>';
                            stringContent = stringContent + '<li class="reviews__item">' + tr + '</li>';
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        function ExecuteRating() {
            var data = new Object();
            data.NoteRating = $("#NoteRating").val() ? $("#NoteRating").val() : '';
            data.RatingMoive = $("#form__slider-value").text() ? Number($("#form__slider-value").text()) : 0;
            data.MovieID = MovieDetailID
            $.ajax({
                url: "/MovieDetail/ExecuteRating",
                dataType: "json",
                type: "POST",
                data: {
                    data: JSON.stringify(data)
                },
                async: true,
                error: function (error) {
                    alert(error);
                },
                success: function (result) {
                    $("#NoteRating").val('');
                    $("#form__slider-value").text('1');
                    LoadDataComment();
                }
            });
            return false;
        }

        function LoadDataScheduleMovie() {
            $.ajax({
                url: "LoadDataScheduleMovie",
                dataType: "json",
                type: "POST",
                data: JSON.stringify({
                }),
                contentType: 'application/json; charset=utf-8',
                async: true,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notiError();
                },
                success: function (result) {
                    DataBranch = result.Branch;
                    DataSchedule = result.Schedule;
                    LoadCombo(DataBranch, "cbbBranch");
                    onclickDropdown();
                    RenderScheduleList(DataSchedule, "ScheduleList");
                    OnchangeSchedule();
                }
            });
        }
        function RenderScheduleList(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let items = data[i];
                        let BranchSchedule = items.BranchID;
                        let DataBranchSchedule = data.filter(word => word["BranchID"] == BranchSchedule)
                        let tr = '<div class="reviews__autor" style="padding-left:0">'
                            + '<span class="reviews__name"><strong style="color:#e71a0f">VTCINEMA</strong> - '
                            + items.Branch + '</span>'
                            + '<span class="reviews__time">' + items.Address + '</span></div>';
                        let stringNote = '';
                        for (var j = 0; j < DataBranchSchedule.length; j++) {
                            let item = DataBranchSchedule[j];
                            stringNote = stringNote + '<a class="session" href="/checkout/' + item.ID + '">'
                                + '<span class="s-start-time ng-binding" >' + item.TimeBegin + '</span ><br class="visible-xs"> ~ ' + item.TimeEnd + '</a>';
                            i = i + 1;
                        }
                        i = i - 1;
                        stringNote = '<div class="sessions">' + stringNote + '</div>';
                        stringContent = stringContent + '<li class="reviews__item">' + tr + stringNote + '</li>';
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        function LoadCombo(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            '<li class="item" data-value=' + item.ID + '>' + item.Name + '</li>'
                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
    </script>
}
