@{
    ViewData["Title"] = "Trang Chủ";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}
@section Style{
    <style>
        .card__cover.active:before {
            background-color: transparent;
            background-image: unset;
        }

        .card__content.centered {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 30px;
            opacity: 0;
            transition: 0.5s;
            background-color: rgba(0, 0, 0, 0.7);
            margin: 0;
        }

        .card.card-information {
            position: relative;
        }

            .card.card-information:hover .card__content.centered {
                opacity: 1
            }

        #DescriptionInformation p {
            display: -webkit-box;
            max-width: 100%;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .btn-information {
            position: absolute;
            background-color: transparent;
            color: white;
            margin: 20px auto;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);
            padding: 8px 25px;
            font-size: 20px;
            border: 2px solid white;
            text-shadow: 0 0 black;
            z-index:1000;
        }
            .btn-information:hover {
                background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
                color:white;
            }
    </style>
}
<!-- home -->
<section class="home">
    <!-- home bg -->
    <div class="owl-carousel home__bg" id="Carousel_bg">

    </div>
    <!-- end home bg -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home__title"><b>PHIM MỚI</b> TRONG THÁNG NÀY</h1>

                <button class="home__nav home__nav--prev" type="button">
                    <i class="icon ion-ios-arrow-round-back"></i>
                </button>
                <button class="home__nav home__nav--next" type="button">
                    <i class="icon ion-ios-arrow-round-forward"></i>
                </button>
            </div>

            <div class="col-12">
                <div class="owl-carousel home__carousel" id="Carousel">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- content -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title">PHIM</h2>
                    <!-- end content title -->
                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Phim Đang Chiếu</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Phim Sắp Chiếu</a>
                        </li>


                    </ul>
                    <!-- end content tabs nav -->
                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="New items">
                            <span></span>
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Phim Đang Chiếu</a></li>
                                <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Phim Sắp Chiếu</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane  show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                <div class="row" id="MovieCurrentlyPlaying">

                </div>
            </div>

            <div class="tab-pane " id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                <div class="row" id="UpcomingMovie">

                </div>
            </div>
        </div>
        <!-- end content tabs -->
    </div>
</section>
<!-- end content -->
<!-- expected premiere -->
<section class="section section--bg" data-bg="../Clients/img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title">TIN KHUYẾN MÃI</h2>
            </div>
        </div>

        <div class="row" id="InformationList">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-information">
                    <div class="card__cover active">
                        <img src="~/Clients/img/covers/cover4.jpg" alt="">
                    </div>
                    <div class="card__content centered">
                        <h3 class="card__title">I Dream in Another Language</h3>
                        <span class="card__description">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="#" class="section__btn">Show more</a>
            </div>
        </div>
    </div>
</section>
<!-- end expected premiere -->
<!-- partners -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title section__title--no-margin">Our Partners</h2>
            </div>
            <!-- end section title -->
            <!-- section text -->
            <div class="col-12">
                <p class="section__text section__text--last-with-margin">It is a long <b>established</b> fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
            </div>
            <!-- end section text -->
            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="~/Clients/img/partners/themeforest-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->
            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="~/Clients/img/partners/audiojungle-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->
            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="~/Clients/img/partners/codecanyon-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->
            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="~/Clients/img/partners/photodune-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->
            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="~/Clients/img/partners/activeden-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->
            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="~/Clients/img/partners/3docean-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->
        </div>
    </div>
</section>
<!-- end partners -->


@section Script
{
    <script>
        let DataSlideShow = "";
        let DataMovie = "";
        let DataUpcomingMovie = "";
        $(document).ready(function () {
            LoadDataMain();
            LoadDataInformation();
        })

        function LoadDataMain() {
            $.ajax({
                url: "Main/LoadDataMain",
                dataType: "json",
                type: "POST",
                data: JSON.stringify({
                }),
                contentType: 'application/json; charset=utf-8',
                async: true,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notiError();
                },
                success: function (result) {
                    DataSlideShow = result.Table;
                    DataMovie = result.Table1;
                    DataUpcomingMovie = result.Table2;
                    RenderSlideShow_bg(DataSlideShow, "Carousel_bg")
                    RenderSlideShow(DataSlideShow, "Carousel");
                    owlCarousel();
                    RenderMovieList(DataMovie, "MovieCurrentlyPlaying");
                    RenderMovieList(DataUpcomingMovie, "UpcomingMovie");
                }
            });
        }
        function LoadDataInformation() {
            $.ajax({
                url: "Main/LoadDataInformation",
                dataType: "json",
                type: "POST",
                data: JSON.stringify({
                }),
                contentType: 'application/json; charset=utf-8',
                async: true,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notiError();
                },
                success: function (result) {
                    RenderInformationList(result, "InformationList");
                }
            });
        }
        function RenderInformationList(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            ' <div class="card card-information" >'
                            + ' <div class="card__cover active">'
                            + ' <img src="' + item.Image + '" alt=""></div>'
                            + ' <div class="card__content centered">'
                            + ' <h3 class="card__title">' + item.Title + '</h3>'
                            + ' <span class="card__description" id="DescriptionInformation"><p>' + item.Note + '</p></span>'
                            +'<a class="btn-information"  href="InformationDetail/'+item.ID+'" style="">Chi tiết</a>'
                            + ' </div></div>';

                        stringContent = stringContent + '<div class="col-12 col-md-6 col-lg-4">' + tr + '</div>';
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        
        function RenderSlideShow(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            '<div class="card card--big">'
                            + ' <div class="card__cover">'
                            + '<img src="' + item.Image + '" alt="">'
                            + '<a href="#" class="card__play" data-video= ' + item.VideoTrailer + ' data-title="' + item.Name_VN + ' - ' + item.Name_EN + '">'
                            + '<i class="icon ion-ios-play"></i>'
                            + '</a>'
                            + ' </div>'
                            + '<div class="card__content">'
                            + ' <h3 class="card__title"><a href="#">' + item.Name_VN + ' - ' + item.Name_EN + '</a></h3>'
                            + ' <span class="card__category">'
                            + '<a href="#">' + item.Movie_Time_Duration + ' Phút</a>'
                            + ' </span>'
                            + '<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>'
                            + ' </div>'
                            + ' </div>';

                        stringContent = stringContent + '<div class="item">' + tr + '</div>';
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        function RenderSlideShow_bg(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            '<div class="item home__cover" data-bg="' + item.Image + '"></div> ';

                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        function RenderMovieList(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            ' <div class="card card--list" >'
                            + ' <div class="row">'
                            + ' <div class="col-12 col-sm-4">'
                            + ' <div class="card__cover">'
                            + ' <img src="' + item.Image + '" alt="">'
                            + ' <a href="#" class="card__play" data-video= "' + item.VideoTrailer + '">'
                            + ' <i class="icon ion-ios-play"></i>'
                            + ' </a>'
                            + ' </div>'
                            + ' </div>'
                            + ' <div class="col-12 col-sm-8">'
                            + ' <div class="card__content">'
                            + ' <h3 class="card__title"><a href="/MovieDetail/' + item.ID + '">' + item.Name_VN + ' - ' + item.Name_EN + '</a></h3>'
                            + ' <span class="card__category"> <a href="#">' + item.Movie_Time_Duration + ' Phút</a></span>'
                            + ' <div class="card__wrap">'
                            + ' <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>'
                            + ' <ul class="card__list">'
                            + ' <li>' + item.MovieTicketType + '</li>'
                            + ' <li>' + item.Ages + '</li>'
                            + ' </ul>'
                            + ' </div>'
                            + ' <div class="card__description">'
                            + ' <p>' + item.Note + '.</p>'
                            + '</div></div></div></div></div>'


                        stringContent = stringContent + '<div class="col-6 col-sm-12 col-lg-6">' + tr + '</div>';
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        /*==============================
        Home
        ==============================*/
        function owlCarousel() {
            $('.home__bg').owlCarousel({
                animateOut: 'fadeOut',
                animateIn: 'fadeIn',
                mouseDrag: false,
                touchDrag: false,
                items: 1,
                dots: false,
                loop: true,
                autoplay: false,
                smartSpeed: 600,
                margin: 0,
            });

            $('.home__bg .item').each(function () {
                if ($(this).attr("data-bg")) {
                    $(this).css({
                        'background': 'url(' + $(this).data('bg') + ')',
                        'background-position': 'center center',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                    });
                }
            });

            $('.home__carousel').owlCarousel({
                mouseDrag: false,
                touchDrag: false,
                dots: false,
                loop: true,
                autoplay: false,
                smartSpeed: 600,
                margin: 30,
                responsive: {
                    0: {
                        items: 2,
                    },
                    576: {
                        items: 2,
                    },
                    768: {
                        items: 3,
                    },
                    992: {
                        items: 4,
                    },
                    1200: {
                        items: 4,
                    },
                }
            });

            $('.home__nav--next').on('click', function () {
                $('.home__carousel, .home__bg').trigger('next.owl.carousel');
            });
            $('.home__nav--prev').on('click', function () {
                $('.home__carousel, .home__bg').trigger('prev.owl.carousel');
            });

            $(window).on('resize', function () {
                var itemHeight = $('.home__bg').height();
                $('.home__bg .item').css("height", itemHeight + "px");
            });
            $(window).trigger('resize');

            /*==============================
            Tabs
            ==============================*/
            $('.content__mobile-tabs-menu li').each(function () {
                $(this).attr('data-value', $(this).text().toLowerCase());
            });

            $('.content__mobile-tabs-menu li').on('click', function () {
                var text = $(this).text();
                var item = $(this);
                var id = item.closest('.content__mobile-tabs').attr('id');
                $('#' + id).find('.content__mobile-tabs-btn input').val(text);
            });

        }

    </script>

}