/* =============Custom styles customer============ */
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

.custom-table {
    width: 100%;
    background: #FFF0;
    margin: 1em 0;
    box-shadow: none;
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

    .custom-table tr td {
        border-top: 2px dotted rgba(34,36,38,.1);
    }

    .custom-table td {
        padding: 10px;
        text-align: inherit;
    }

    .custom-table thead th {
        text-align: inherit;
        color: #155262;
        padding: .92857143em .78571429em;
    }

.ui.segment {
    position: relative;
    background: #FFF;
    padding: 1em;
    border: none;
    border-radius: unset;
    width: 100%;
}

.headName {
    display: flex;
}

    .headName h2 {
        padding-left: 13px;
        margin-top: 15px;
        font-weight: 700;
        font-size: 15px;
        color: #5c8cb1;
    }

.btn-custom {
    font-family: 'Roboto', sans-serif !important;
    color: #ffffff !important;
    padding: 13px;
    display: table-cell;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    background: aliceblue;
    line-height: 1 !important;
}

    .btn-custom > a {
        display: flex;
    }

    .btn-custom:hover {
        background-color: #e6e6e6;
        cursor: pointer;
    }

.btn-custom-rgba {
    background-color: #ffffff0d !important;
    border-radius: 50px !important;
    height: 38px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border: 1px solid #2c7774 !important;
    margin-right: 10px !important;
    color: #40666f !important;
    font-size: 13px !important;
}

    .btn-custom-rgba:hover {
        background: #ffffff;
    }

.btn-Cancel {
    position: absolute;
    top: -21px;
    right: -21px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    border: 2px solid #c1b5b5;
}

    .btn-Cancel:hover {
        border: 2px solid #d0d0d0;
    }

    .btn-Cancel img {
        width: 20px;
        height: 20px;
    }

.viewMore {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    padding-right: 10px;
}

    .viewMore a {
        color: #3BA5C1;
        cursor: pointer;
    }

        .viewMore a:hover {
            color: #ff7143;
        }

.align-center {
    text-align: center;
}

.title-head {
    display: inline-block;
}

.ctn-head {
    text-align: left;
}

.right-head-cust {
    padding-top: 5px;
}

/*New*/
@media only screen and (min-width:701px) and (max-width:1199px) {
    .amountCustomer {
        font-size: 17px;
        color: #082d48;
    }
    .navbar-fostrap {
        display: none;
    }
}
/*New*/
@media only screen and (min-width:1200px) {
    .amountCustomer {
        font-size: 23px;
        color: #082d48;
    }
}
/*New*/
@media only screen and (max-width:700px) {
    .amountCustomer {
        font-size: 17px;
        color: #082d48;
    }
}



/* =============Custom styles custome============ */
/* =============Dashboard styles ============ */
.dashboard_Inday {
    font-size: 24px;
    font-weight: bold;
}

.labeldashboard {
    font-size: 14px;
    font-weight: 500;
    color: #99999a;
    text-transform: capitalize;
    padding-top: 10px;
}

.ui.segment.left.aligned {
    border-radius: 10px;
}

.lineborder {
    border-radius: 10px;
    width: 100%;
    height: 8px;
}

.rowtable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divMainMenu {
    height: 250px;
    border-radius: 20px;
    padding: 5px !important;
    margin-top: 10px !important;
    background-repeat: no-repeat;
    background-size: cover;
}
/* =============End Dashboard styles ============ */

.amountGrid {
    color: #00b5ad;
    min-width: 100px;

    text-align: right !important;
}

.checkin {
    font-size: 11px;
    background: #2185d0;
    border-radius: 20px;
    padding: 4px 18px 4px 18px;
    color: white;
}

.notcheckin {
    font-size: 11px;
    background: #e2e1e1;
    border-radius: 20px;
    padding: 4px 10px 4px 10px;
    color: #2185d0;
}

.divTableCustomer {
    z-index: 0;
    overflow-y: scroll;
    height: 550px;
    width: 100%;
}

.statustd {
    text-align: right !important;
    padding-right: 17px !important;
}

.onerowtd {
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.datetime {
    min-width: 100px;

}
.iconCustomer {
    width: 30px;
    height: 30px;
    margin: 7px 2px 2px 2px;
}