
@{
    Layout = null;
}

<div id="headerPopup_CustomerCare" class="header">
    Phòng
</div>
<div class="row">
    <div class="sixteen wide tablet eight wide computer column">
        <div class="ui segments">
            <form class="ui form segment form3" id="form3">
                <div class="ui accordion field">
                    <div class="content field active">
                        <div class="two fields">
                            <div class="field">
                                <label>Tên Phòng</label>
                                <input id="txtNameRoom" name="NameRoom" type="text" />
                            </div>
                            <div class="field">
                                <label>Chi Nhánh</label>
                                <div class="ui fluid search selection dropdown" id="Branch">
                                    <input type="hidden" name="country">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Chọn Chi Nhánh</div>
                                    <div class="menu" id="cbbBranch">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="actions">
    <div style="float: right">
        <button class="ui teal button" form="form3" type="submit" onclick="return ExcuteData()">Save</button>

    </div>
    <div style="float: right">
        <button class="ui grey button" onclick="event.preventDefault();CloseModal()">Cancel</button>
    </div>
</div>
<script src="/js/customjs/custom-validation.js"></script>
<script src="/js/main.js"></script>
<script>

    var RoomDetailID;
    var DataBranch;
    var DataChairType;
    var IDChair;
    $(document).ready(function () {
        RoomDetailID = @ViewBag.RoomID;
        LoadDataUpdateRoom();
    });

    function LoadDataUpdateRoom() {
        $.ajax({
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            url: "/Admin/RoomDetail/GetRoomDetail/" + RoomDetailID,
            async: true,
            success: function (result) {
                DataBranch = result.Branch;
                LoadCombo(DataBranch,'cbbBranch');
                let data = result.Table1;
                if (data.length != 0) {
                    $('#txtNameRoom').val((data[0].Name));
                    $("#Branch").dropdown("refresh");
                    $("#Branch").dropdown("set selected", data[0].BranchID);
                    //LoadRoomChair(RoomDetailID);
                }
            }
        });
    }
    function ExcuteData() {
        var data = new Object();
        data.NameRoom = $('#txtNameRoom').val() ? $('#txtNameRoom').val() : "";
        data.BranchID = $("#Branch").dropdown('get value') ? Number($("#Branch").dropdown('get value')) : 0;

        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {

             $.ajax({
                 url: "/Admin/RoomDetail/Execute",
                 dataType: "json",
                 type: "POST",
                 data: {
                     __RequestVerificationToken: token
                     , RoomID: @ViewBag.RoomID
                     , data: JSON.stringify(data)
                 },
                 async: true,
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        notiError("Lỗi Hệ Thống");
                 },
                 success: function (result) {
                     if (result == "0") {
                         notiSuccess();
                         LoadRoom();
                     } else {
                         notiError("Lứa Tuổi Đã Tồn Tại Vui Lòng Kiểm Tra Lại");
                        }
                 }
             })
             $('#divDetailPopup').modal('hide');
        }
         return false;
    }
</script>

