
@{
    Layout = null;
}

<div id="headerPopup_CustomerCare" class="header">
    Chi Nhánh
</div>
<div class="row">
    <div class="sixteen wide tablet eight wide computer column">
        <div class="ui segments">
            <form class="ui form segment form3" id="form3">
                <div class="ui accordion field">
                    <div class="content field active">
                        <div class="three fields">
                            <div class="field">
                                <label>Mã Chi Nhánh</label>
                                <input id="txtBranchCode" name="BranchCode" type="text" />
                            </div>
                            <div class="field">
                                <label>Tên Chi Nhánh</label>
                                <input id="txtName" type="text" name="Namebranch" />
                            </div>
                            <div class="field">
                                <label>Tên Ngắn Chi Nhánh</label>
                                <input id="txtShortName" type="text" name="ShortName" />
                            </div>
                        </div>

                        <div class="two fields">
                            <div class="field">
                                <label>Vĩ Độ</label>
                                <input id="txtLongtitude" name="Longtitude" type="text" />
                            </div>
                            <div class="field">
                                <label>Kinh Độ</label>
                                <input id="txtLatitude" name="Latitude" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label>Địa Chỉ</label>
                            <input id="txtAddress" type="text" name="Address" />
                        </div>
                        <div class="field">
                            <label>Ghi Chú</label>
                            <textarea id="txtNote" name="Note" rows="5" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="actions">
    <div style="float: right">
        <button class="ui teal button" form="form3" type="submit" onclick="return ExcuteData()">Save</button>
    </div>
    <div style="float: right">
        <button class="ui grey button" form="form3" onclick="event.preventDefault();CloseModal()">Cancel</button>
    </div>
</div>
<script src="/js/customjs/custom-validation.js"></script>
<script src="/js/main.js"></script>

<script>
    let BranchDetailID;
    $(document).ready(function () {
        BranchDetailID = @ViewBag.BranchID;
        LoadDataUpdateBranch();
    });

    function LoadDataUpdateBranch() {
        $.ajax({
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            url: "/Admin/BranchDetail/GetBranchDetail/" + BranchDetailID,
            async: true,
            success: function (data) {
                if (data.length != 0) {
                    $('#txtBranchCode').val((data[0].BranchCode));
                    $('#txtName').val((data[0].Name));
                    $('#txtShortName').val((data[0].ShortName));
                    $('#txtLongtitude').val((data[0].Longtitude));
                    $('#txtLatitude').val((data[0].Latitude));
                    $('#txtAddress').val((data[0].Address));
                    $('#txtNote').val((data[0].Note));
                }
            }
        });
    }
    function ExcuteData() {
        var data = new Object();
         data.BranchCode = $('#txtBranchCode').val() ? $('#txtBranchCode').val() : "";
         data.Name = $('#txtName').val() ? $('#txtName').val() : "";
         data.ShortName = $('#txtShortName').val() ? $('#txtShortName').val() : "";
         data.Longtitude = $('#txtLongtitude').val() ? Number($('#txtLongtitude').val()) : 0;
         data.Latitude = $('#txtLatitude').val() ? Number($('#txtLatitude').val()) : 0;
         data.Address = $('#txtAddress').val() ? $('#txtAddress').val() : "";
         data.Note = $('#txtNote').val() ? $('#txtNote').val() : "";
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {

             $.ajax({
                 url: "/Admin/BranchDetail/Execute",
                 dataType: "json",
                 type: "POST",
                 data: {
                     __RequestVerificationToken: token
                     , BranchID: @ViewBag.BranchID
                     , data: JSON.stringify(data)
                 },
                 async: true,
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        notiError("Lỗi Hệ Thống");
                 },
                 success: function (result) {
                     if (result == "0") {
                         notiSuccess();
                         LoadBranch();
                     } else {
                         notiError("Diễn Viên Đã Tồn Tại Vui Lòng Kiểm Tra Lại");
                        }
                 }
             })
             $('#divDetailPopup').modal('hide');
        }
         return false;
    }
</script>