<!DOCTYPE html>
<html lang="en">

<head runat="sever">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="~/Clients/js/jquery-3.3.1.min.js"></script>
    <!-- CSS -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link href="~/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/plugins/sweetalert2/custom-alert.js"></script>
    <link href="~/plugins/lobibox/css/lobibox.css" rel="stylesheet" />
    <link href="~/plugins/lobibox/dist/css/Lobibox.min.css" rel="stylesheet" />
    <script src="~/plugins/lobibox/js/lobibox.js"></script>
    <script src="~/js/comon/noti_function.js?ver=<%= DateTime.Now.Ticks %>"></script>

    <link href="~/Clients/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Clients/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Clients/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Clients/css/default-skin.css" rel="stylesheet" />
    <link href="~/Clients/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Clients/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Clients/css/nouislider.min.css" rel="stylesheet" />
    <link href="~/Clients/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Clients/css/photoswipe.css" rel="stylesheet" />
    <link href="~/Clients/css/plyr.css" rel="stylesheet" />
    <link href="~/Clients/css/main.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/Clients/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/Clients/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Clients/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Clients/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Clients/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <style>
        .card__play {
            transition: 0.5s;
            transform: scale(0.5);
        }

        .card__cover:hover .card__play {
            transform: scale(1);
        }

        .plyr--video {
            border: 4px solid;
        }

        .closemodal {
            position: absolute;
            top: 0;
            z-index: 100000;
            right: 0;
            background-color: red;
            width: 20px;
            font-size: 13px;
        }

        .nav-tabs > li > a:hover {
            border-color: transparent;
        }

        .nav > li > a:focus, .nav > li > a:hover {
            background-color: transparent;
        }

        .dropdown-menu > li > a {
            color: white;
        }
        .loader {
            position: relative;
            width: var(--loader-width);
            height: var(--loader-width);
            box-shadow: inset 0 0 0 var(--loader-border) var(--loader-border-color);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #c7c7c7;
            z-index: 1000;
            width: 100%;
            height: 100vh;
            display: none;
            justify-content: center;
            align-items: center;
            opacity:0.7;            
        }           
    </style>
    @RenderSection("Style", required: false)
</head>
<body class="body" style="position:relative;">
    <div class="container">
        <header class="header">
            <div class="header__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header__content">
                                <!-- header logo -->
                                <a href="index.html" class="header__logo">
                                    <img src="~/Clients/img/logo.svg" alt="">
                                </a>
                                <!-- end header logo -->
                                <!-- header nav -->
                                <ul class="header__nav">
                                    <li class="header__nav-item">
                                        <a href="/" class="header__nav-link">Trang Chủ</a>
                                    </li>
                                    <!-- end dropdown -->
                                    <!-- dropdown -->
                                    <li class="header__nav-item">
                                        <a href="/Catalog" class="header__nav-link">Catalog</a>
                                    </li>
                                    <!-- end dropdown -->

                                    <li class="header__nav-item">
                                        <a href="pricing.html" class="header__nav-link">Pricing Plan</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a href="faq.html" class="header__nav-link">Help</a>
                                    </li>

                                    <!-- dropdown -->
                                    <li class="dropdown header__nav-item">
                                        <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-more"></i></a>

                                        <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="signin">Đăng nhập</a></li>
                                            <li><a href="signup">Đăng kí</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <!-- end dropdown -->
                                </ul>
                                <!-- end header nav -->
                                <!-- header auth -->
                                <div class="header__auth">
                                    <button class="header__search-btn" type="button">
                                        <i class="icon ion-ios-search"></i>
                                    </button>

                                    <a href="/signin" class="header__sign-in">
                                        <i class="icon ion-ios-log-in"></i>
                                        <span>Đăng nhập</span>
                                    </a>
                                </div>
                                <!-- end header auth -->
                                <!-- header menu btn -->
                                <button class="header__btn" type="button">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <!-- end header menu btn -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- header search -->
            <form action="#" class="header__search">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header__search-content">
                                <input type="text" placeholder="Search for a movie, TV Series that you are looking for">

                                <button type="button">search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end header search -->
        </header>
        @RenderBody()

        <div class="ui long modal fade in scrolling" id="divModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">

        </div>
        <div class="ui long modal fade in scrolling" id="myModal" tabindex="-1" role="dialog" style="display:none;background-color: rgba(128,128,128,0.5);" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" style="margin-top: 50px;">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">12</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <video controls id="player" src="">
                            <source id="source-video" src="" type="video/mp4" size="576">
                            <a href="" id="href-video" download>Download</a>
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <!-- footer list -->
                    <div class="col-12 col-md-3">
                        <h6 class="footer__title">Download Our App</h6>
                        <ul class="footer__app">
                            <li><a href="#"><img src="~/Clients/img/Download_on_the_App_Store_Badge.svg" alt=""></a></li>
                            <li><a href="#"><img src="~/Clients/img/google-play-badge.png" alt=""></a></li>
                        </ul>
                    </div>
                    <!-- end footer list -->
                    <!-- footer list -->
                    <div class="col-6 col-sm-4 col-md-3">
                        <h6 class="footer__title">Resources</h6>
                        <ul class="footer__list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Pricing Plan</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <!-- end footer list -->
                    <!-- footer list -->
                    <div class="col-6 col-sm-4 col-md-3">
                        <h6 class="footer__title">Legal</h6>
                        <ul class="footer__list">
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                    <!-- end footer list -->
                    <!-- footer list -->
                    <div class="col-12 col-sm-4 col-md-3">
                        <h6 class="footer__title">Contact</h6>
                        <ul class="footer__list">
                            <li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
                            <li><a href="mailto:support@moviego.com">support@flixgo.com</a></li>
                        </ul>
                        <ul class="footer__social">
                            <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                            <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                            <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                            <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
                        </ul>
                    </div>
                    <!-- end footer list -->
                    <!-- footer copyright -->
                    <div class="col-12">
                        <div class="footer__copyright">
                            <small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>

                            <ul>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end footer copyright -->
                </div>
            </div>
        </footer>
    </div>
    <style>
        .donut {
            width: 50px;
            height: 50px;
            margin: 2rem;
            border-radius: 50%;
            border: 0.3rem solid rgba(151, 159, 208, 0.3);
            border-top-color: #1535f9;
            animation: 1.5s spin infinite linear;
        }

            .donut.multi {
                border-bottom-color: #1535f9;
            }


        @@keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
    <div class="loader">
        <div class="donut multi"></div>
    </div>
    <!-- JS -->
   
    <link href="~/flatpickr/flatpickr.min.css" rel="stylesheet" />
    <script src="~/flatpickr/flatpickr.js"></script>
    <script src="~/Clients/js/bootstrap.bundle.min.js"></script>
    <script src="~/Clients/js/owl.carousel.min.js"></script>
    <script src="~/Clients/js/jquery.mousewheel.min.js"></script>
    <script src="~/Clients/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Clients/js/wNumb.js"></script>
    <script src="~/Clients/js/nouislider.min.js"></script>
    <script src="~/Clients/js/plyr.min.js"></script>
    <script src="~/Clients/js/jquery.morelines.min.js"></script>
    <script src="~/Clients/js/photoswipe.min.js"></script>
    <script src="~/Clients/js/photoswipe-ui-default.min.js"></script>
    <script src="~/js/customjs/custom-modal.js"></script>
    <script src="/js/comon/NotiExe.js?ver=<%=DateTime.Now.Ticks%>"></script>
    <script>
        $(document).ready(function () {
            /* Open Modal Video Trailer*/
            $('#Carousel').on('click', '.card__play', function () {
                let UrlVideo = $(this).attr('data-video');
                ModalVideo(UrlVideo);
            });

            $('#MovieCurrentlyPlaying').on('click', '.card__play', function () {
                let UrlVideo = $(this).attr('data-video');
                ModalVideo(UrlVideo);
            });

            $('#UpcomingMovie').on('click', '.card__play', function () {
                let UrlVideo = $(this).attr('data-video');
                ModalVideo(UrlVideo);
            });


            /*==============================
            Menu
            ==============================*/
            $('.header__btn').on('click', function () {
                $(this).toggleClass('header__btn--active');
                $('.header__nav').toggleClass('header__nav--active');
                $('.body').toggleClass('body--active');

                if ($('.header__search-btn').hasClass('active')) {
                    $('.header__search-btn').toggleClass('active');
                    $('.header__search').toggleClass('header__search--active');
                }
            });

            /*==============================
            Search
            ==============================*/
            $('.header__search-btn').on('click', function () {
                $(this).toggleClass('active');
                $('.header__search').toggleClass('header__search--active');

                if ($('.header__btn').hasClass('header__btn--active')) {
                    $('.header__btn').toggleClass('header__btn--active');
                    $('.header__nav').toggleClass('header__nav--active');
                    $('.body').toggleClass('body--active');
                }
            });

            function owlCarousel() {
                $('.home__bg').owlCarousel({
                    animateOut: 'fadeOut',
                    animateIn: 'fadeIn',
                    mouseDrag: false,
                    touchDrag: false,
                    items: 1,
                    dots: false,
                    loop: true,
                    autoplay: false,
                    smartSpeed: 600,
                    margin: 0,
                });

                $('.home__bg .item').each(function () {
                    if ($(this).attr("data-bg")) {
                        $(this).css({
                            'background': 'url(' + $(this).data('bg') + ')',
                            'background-position': 'center center',
                            'background-repeat': 'no-repeat',
                            'background-size': 'cover'
                        });
                    }
                });

                $('.home__carousel').owlCarousel({
                    mouseDrag: false,
                    touchDrag: false,
                    dots: false,
                    loop: true,
                    autoplay: false,
                    smartSpeed: 600,
                    margin: 30,
                    responsive: {
                        0: {
                            items: 2,
                        },
                        576: {
                            items: 2,
                        },
                        768: {
                            items: 3,
                        },
                        992: {
                            items: 4,
                        },
                        1200: {
                            items: 4,
                        },
                    }
                });

                $('.home__nav--next').on('click', function () {
                    $('.home__carousel, .home__bg').trigger('next.owl.carousel');
                });
                $('.home__nav--prev').on('click', function () {
                    $('.home__carousel, .home__bg').trigger('prev.owl.carousel');
                });

                $(window).on('resize', function () {
                    var itemHeight = $('.home__bg').height();
                    $('.home__bg .item').css("height", itemHeight + "px");
                });
                $(window).trigger('resize');
            }

            function initializePlayer() {
                if ($('#player').length) {
                    const player = new Plyr('#player');
                } else {
                    return false;
                }
                return false;
            }
            $(window).on('load', initializePlayer());
        })
        function ModalVideo(url) {
            $("#source-video").attr('src', url);
            $("#player").attr('src', url);
            $("#href-video").attr('href', url);
            $('#myModal').modal('show');
            return false;
        }
                //function LoadCombo(data, id) {
                //    var myNode = document.getElementById(id);
                //    if (myNode != null) {
                //        myNode.innerHTML = '';
                //        let stringContent = '';
                //        if (data && data.length > 0) {
                //            for (var i = 0; i < data.length; i++) {
                //                let item = data[i];
                //                let tr =
                //                    '<div class="item" data-value=' + item.ID + '>' + item.Name + '</div>'
                //                stringContent = stringContent + tr;
                //            }
                //        }
                //        document.getElementById(id).innerHTML = stringContent;
                //    }
                //}
        function Divide(nStr)
            {
	            nStr += '';
	            x = nStr.split('.');
	            x1 = x[0];
	            x2 = x.length > 1 ? '.' + x[1] : '';
	            var rgx = /(\d+)(\d{3})/;
	            while (rgx.test(x1)) {
		            x1 = x1.replace(rgx, '$1' + ',' + '$2');
	            }
	            return x1 + x2;
            }
    </script>

    @RenderSection("Script", required: false)

</body>
</html>