
@{
    ViewData["Title"] = "ActorView";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="pusher">
    <div class="navslide navwrap">
        <div class="row" style="background-color: white">
            <div class="ui form segment form3">
                <h2 class="ui center aligned header" style="border-top: 1px; font-family: 'Times New Roman'">
                    Danh Sách Diễn Viên
                    <div class="sub header" style="font-family: 'Times New Roman'">Danh Sách các diễn viên</div>
                </h2>
                <div class="two fields" style="margin: 0px;">
                    <div class="field">
                        <button style="display: inline;" class="ui blue button" data-value="fade up" onclick="event.preventDefault();return exportData_PunishEmployee();">Xuất File</button>
                        <button class="ui blueli button" data-value="fade up" onclick="return AddNewActor()">Thêm mới</button>
                    </div>                 
                    <div class="field">
                        <div class="ui icon input" style="max-height: 40px;">
                            <input id="filterEmployee" type="text" placeholder="Seaching..." onkeyup="event.preventDefault();return onkeyupTicketFitler();">
                            <i class="circular search link icon"></i>
                        </div>
                    </div>                    
                </div>
                <div class="ui segment" style="border: none; overflow-x: auto; padding: unset;">
                    <table id="dtContentPunishEmployee" class="ui sortable celled table">
                        <thead class="hiddenCollapse">
                            <tr role="row">
                                <th style="display: none">ID</th>
                                <th style="width: 70px;">#</th>
                                <th>Diễn Viên</th>
                                <th style="min-width: 60px">Ngày Sinh</th>
                                <th style="min-width: 150px" class="no-sort">Chiều Cao</th>
                                <th style="max-width: 120px;">Giới Thiệu</th>
                                <th style="max-width: 300px;">Quốc Tịch</th>
                                <th>Xoá</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentPunishEmployeeBody">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">   
    function Render_Actor(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display:none !important">' + item.ID + '</td>'
                        + '<td data-sortValue="' + Number(i) + '">' + (i + 1) + '</td>'
                        + '<td ><a style="text-decoration: underline;" class="buttonEditClass" href="#">' + item.Name + '</a></td>'
                        + '<td >' + item.Birthday + '</td>'
                        + '<td >' + item.Height + '</td>'
                        + '<td >' + item.Description + '</td>'
                        + '<td >' + item.Nationality + '</td>'
                        + '<td class="selectedtd"><button class="buttonGrid _tab_control_" data-tab="delete_service_type" value="'
                        + item.ID
                        + '"><img class="buttonDeleteClass imgGrid" src="/img/ButtonImg/delete_ver2.png"></button></td>'
                    stringContent = stringContent + '<tr class="seachRow" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        //EventMainGrid();
        //Checking_TabControl_Permission();
    }

    function LoadActor() {
        $.ajax({
            url: "Actor/LoadActor",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                notiError();
            },
            success: function (result) {               
                Render_Actor(result, "dtContentPunishEmployeeBody");
            }
        });
    }
    function LoadData_PunishEmployee() {
        if (flagLoad == 1) {
            $.ajax({
                url: "/Views/HR/Employee/Punish/pagePunishEmployee.aspx/LoadataPunishEmployee",
                dataType: "json",
                type: "POST",
                data: JSON.stringify({
                    'date': $("#dateFilter").val()
                }),
                contentType: 'application/json; charset=utf-8',
                async: true,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notiError();
                },
                success: function (result) {
                    let data = JSON.parse(result.d);
                    if (data != undefined) {
                        let selectedid = (Number($('#Branch_ID').dropdown('get value'))
                            ? Number($('#Branch_ID').dropdown('get value'))
                            : 0)

                        let IDBranchstring = ',' + selectedid + ',';
                        if (IdComboMax != selectedid) {
                            data = data.filter(word => {
                                if ((',' + word["BranchID"]).includes(IDBranchstring)
                                    || word["isAllBranch"] == "1") return word;
                            }
                            );
                        }
                        DataPunishEmployee = data;
                        onkeyupTicketFitler();
                    }
                }
            });
        }
    }
    $(document).ready(function () {
        //$('#dtContentPunishEmployee').tablesort();
        $("#dateFilter").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        //$("#dateFilter").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));
        LoadActor();
        //flagLoad = 1;
        //LoadData_PunishEmployee();       
        $('#dtContentPunishEmployee tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            EditActor(ID);
        });     
        $('#dtContentPunishEmployee tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            debugger
            DeleteMaterialType(ID);
        });
    });

    function AddNewActor() {
        document.getElementById("divDetailPopup").innerHTML = '';       
        $("#divDetailPopup").load("ActorDetail/" + 0);
        $('#divDetailPopup').modal('show');
        return false;
    }
    function EditActor(CurrentID) {
        document.getElementById("divDetailPopup").innerHTML = '';       
        $("#divDetailPopup").load("ActorDetail/" + CurrentID);
        $('#divDetailPopup').modal('show');
        return false;
    }
    function DeleteMaterialType(id) {
        const promise = notiConfirm();
        promise.then(function () { ExecuteDeleteServiceType(id); }, function () { });
    }
    function ExecuteDeleteServiceType(ID) {
        debugger
        $.ajax({
            url: "Actor/DeleteActor/"+ID,
            dataType: "json",
            type: "GET",
            data: JSON.stringify({
                'ID': ID
            }),       
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                notiError(textStatus);
            },
            success: function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadActor();
                } else {
                    notiError();
                }
            }
        });
    }
</script>

