
@{
    ViewData["Title"] = "Branch";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="pusher">
    <div class="navslide navwrap">
        <div class="row" style="background-color: white">
            <div class="ui form segment form3">
                <h2 class="ui center aligned header" style="border-top: 1px; font-family: 'Times New Roman'">
                    Danh Sách Chi Nhánh
                    <div class="sub header" style="font-family:'Times New Roman'">Danh Sách Các Chi Nhánh</div>
                </h2>
                <div class="four fields" style="margin: 0px;">
                    <div class="field">
                        <button class="ui blueli button" data-value="fade up" onclick="return AddNewBranch()">Thêm mới</button>
                    </div>
                    <div class="field">
                    </div>
                    <div class="field">
                    </div>
                    <div class="field">
                        <div class="ui icon input" style="max-height: 40px;">
                            <input id="filterBranch" type="text" placeholder="Seaching..." onkeyup="event.preventDefault();return onkeyupTicketFitler();">
                            <i class="circular search link icon"></i>
                        </div>
                    </div>
                </div>
                    <div class="ui segment" style="border: none; overflow-x: auto; padding: unset;">
                        <table id="dtContentPunishEmployee" class="ui sortable celled table">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th style="display: none">ID</th>
                                    <th style="width: 70px;">#</th>
                                    <th style="max-width:100px">Mã Chi Nhánh</th>
                                    <th>Tên</th>
                                    <th style="min-width: 40px;" >Tên Viết Tắt</th>
                                    <th style="max-width: 120px;">Địa Chỉ</th>
                                    <th style="max-width: 120px;">Kinh Độ</th>
                                    <th style="max-width: 120px;">Vĩ Độ</th>
                                    <th style="max-width: 120px;"> Ghi Chú</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentPunishEmployeeBody"></tbody>
                        </table>
                    </div>
                </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    let DataBranch;

    function Render_Branch(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display:none !important">' + item.ID + '</td>'
                        + '<td data-sortValue="' + Number(i) + '">' + (i + 1) + '</td>'
                        + '<td >' + item.BranchCode + '</td>'
                        + '<td ><a style="text-decoration: underline;" class="buttonEditClass" href="#">' + item.Name + '</a></td>'
                        + '<td >' + item.ShortName + '</td>'
                        + '<td >' + item.Address + '</td>'
                        + '<td >' + item.Latitude + '</td>'
                        + '<td >' + item.Longtitude + '</td>'
                        + '<td >' + item.Note + '</td>'
                        +( (item.ButtonDelete == 0 )? ('<td class="selectedtd"><button class="buttonGrid _tab_control_" data-tab="delete_service_type" value="'
                        + item.ID
                        + '"><img class="buttonDeleteClass imgGrid" src="/img/ButtonImg/delete_ver2.png"></button></td>'):('<td></td>'))
                        

                    stringContent = stringContent + '<tr class="seachRow" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        //EventMainGrid();
        //Checking_TabControl_Permission();
    }

    function LoadBranch() {
        $.ajax({
            url: "branch/LoadBranch",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                notiError();
            },
            success: function (result) {
                DataBranch = result;
                Render_Branch(result, "dtContentPunishEmployeeBody");
            }
        });
    }
    $(document).ready(function () {
        $('#dtContentPunishEmployee').tablesort();
        $("#dateFilter").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        //$("#dateFilter").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));
        LoadBranch();
        //flagLoad = 1;
        //LoadData_PunishEmployee();
        //$('#dtContentPunishEmployee tbody').on('click', '.buttonEditClass', function () {
        //    let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
        //    EditPunish(ID);
        //});
        $('#dtContentPunishEmployee tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            
            EditTab(ID);
        });
        $('#dtContentPunishEmployee tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            DeleteBranch(ID);
        });
    });

    function AddNewBranch() {
        document.getElementById("divDetailPopup").innerHTML = '';
        $("#divDetailPopup").load("BranchDetail/"+0);
        $('#divDetailPopup').modal('show');
        return false;
    }
    function EditTab(CurrentID) {
        document.getElementById("divDetailPopup").innerHTML = '';
        $("#divDetailPopup").load("BranchDetail/" + CurrentID);
        $('#divDetailPopup').modal('show');
        return false;
    }
    function exportData_PunishEmployee() {
        exportToExcel("dtContentPunishEmployee", 'Doanh-Sach-Nhan-Vien-Bi-Xu-Phat');
    }

    function DeleteBranch(id) {
        const promise = notiConfirm();
        promise.then(function () { ExecuteDeleteBranch(id); }, function () { });
    }

    function ExecuteDeleteBranch(ID) {
        $.ajax({
            url: "Branch/DeleteBranch/" + ID,
            dataType: "json",
            type: "GET",
            data: JSON.stringify({
                'ID': ID
            }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                notiError(textStatus);
            },
            success: function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadBranch();
                } else {
                    notiError();
                }
            }
        });
    }

    function onkeyupTicketFitlerAsync(extension) {
        return new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    let search = xoa_dau($('#filterBranch').val().toLowerCase()).trim();

                    let data = DataBranch.filter(function (item) {
                        if (xoa_dau(item["BranchCode"]).toLowerCase().includes(search) || 
                            xoa_dau(item["Name"]).toLowerCase().includes(search))
                            return true;
                        return false;
                    });
                    if (data != undefined && data != null) {
                        document.getElementById("dtContentPunishEmployeeBody").innerHTML = "";
                        Render_Branch(data, "dtContentPunishEmployeeBody");
                        ColorSearchFilterText(search, "seachRow");
                    }
                    resolve()
                },
                Math.floor(Math.random() * 300) + 1
            )
        })
    }

    async function onkeyupTicketFitler() {
        await onkeyupTicketFitlerAsync();
        return false;
    }
</script>