
@{
    Layout = null;
}

<script src="~/js/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: '#txtNote'
    });
</script>

<div id="headerPopup_CustomerCare" class="header">
    Loại Vé Xem Phim
</div>
<div class="row">
    <div class="sixteen wide tablet eight wide computer column">
        <div class="ui segments">
            <form class="ui form segment form3" id="form3">
                <div class="ui accordion field">
                    <div class="content field active">
                        <div class="two fields">
                            <div class="field">
                                <label>Tên Loại Vé</label>
                                <input id="txtName" name="Nameticket" type="text" />
                            </div>
                            <div class="field">
                                <label>Đơn Giá</label>
                                <input id="txtPrice" type="text" name="Prices" />
                            </div>
                        </div>
                        <div class="field">
                            <label>Ghi Chú</label>
                            <textarea id="txtNote" name="mytextarea" rows="5" placeholder="Nhập ghi chú..." />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="actions">
    <div style="float: right">
        <button class="ui teal button" form="form3" type="submit" onclick="return ExcuteData()">Save</button>
    </div>
    <div style="float: right">
        <button class="ui grey button" onclick="event.preventDefault();CloseModal()">Cancel</button>
    </div>
</div>
<script src="/js/customjs/custom-validation.js"></script>
<script src="/js/main.js"></script>

<script>
    let MovieTicketTypeDetailID;

    $(document).ready(function () {
        MovieTicketTypeDetailID = @ViewBag.MovieTicketTypeID;
        LoadDataUpdateMovieTicketType();
        $('#txtPrice').divide();
    });

    function LoadDataUpdateMovieTicketType() {
        $.ajax({
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            url: "/Admin/MovieTicketTypeDetail/GetMovieTicketTypeDetail/" + MovieTicketTypeDetailID,
            async: true,
            success: function (data) {
                if (data.length != 0) {
                    $('#txtName').val((data[0].Name));
                    $('#txtPrice').val((data[0].Price));
                    $('#txtNote').val((data[0].Note));
                }
            }
        });
    }
    function ExcuteData() {
        var data = new Object();
         data.Name = $('#txtName').val() ? $('#txtName').val() : "";
        data.Price = $('#txtPrice').val() ? Number($('#txtPrice').val()) : 0;
        data.Note = tinymce.activeEditor.getContent();
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {

             $.ajax({
                 url: "/Admin/MovieTicketTypeDetail/Execute",
                 dataType: "json",
                 type: "POST",
                 data: {
                     __RequestVerificationToken: token
                     , MovieTicketTypeID: @ViewBag.MovieTicketTypeID
                     , data: JSON.stringify(data)
                 },
                 async: true,
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        notiError("Lỗi Hệ Thống");
                 },
                 success: function (result) {
                     if (result == "0") {
                         notiSuccess();
                         LoadMovieTicketType();
                     } else {
                         notiError("Loại Vé Đã Tồn Tại Vui Lòng Kiểm Tra Lại");
                        }
                 }
             })
             $('#divDetailPopup').modal('hide');
        }
         return false;
    }
</script>