<head runat="sever">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
    <script src="~/Clients/js/jquery-3.3.1.min.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link href="~/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/plugins/sweetalert2/custom-alert.js"></script>
    <link href="~/plugins/lobibox/css/lobibox.css" rel="stylesheet" />
    <link href="~/plugins/lobibox/dist/css/Lobibox.min.css" rel="stylesheet" />
    <script src="~/plugins/lobibox/js/lobibox.js"></script>
    <script src="~/js/comon/noti_function.js?ver=<%= DateTime.Now.Ticks %>"></script>
    <!-- CSS -->
    <link href="~/Clients/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Clients/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Clients/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Clients/css/default-skin.css" rel="stylesheet" />
    <link href="~/Clients/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Clients/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Clients/css/nouislider.min.css" rel="stylesheet" />
    <link href="~/Clients/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Clients/css/photoswipe.css" rel="stylesheet" />
    <link href="~/Clients/css/plyr.css" rel="stylesheet" />
    <link href="~/Clients/css/main.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/Clients/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/Clients/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Clients/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Clients/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Clients/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <style>
        .card__play {
            transition: 0.5s;
            transform: scale(0.5);
        }

        .card__cover:hover .card__play {
            transform: scale(1);
        }

        .plyr--video {
            border: 4px solid;
        }

        .closemodal {
            position: absolute;
            top: 0;
            z-index: 100000;
            right: 0;
            background-color: red;
            width: 20px;
            font-size: 13px;
        }

        .nav-tabs > li > a:hover {
            border-color: transparent;
        }

        .nav > li > a:focus, .nav > li > a:hover {
            background-color: transparent;
        }

        .dropdown-menu > li > a {
            color: white;
        }
    </style>
</head>
<body class="body">
    <div class="sign section--bg" data-bg="~/Clients/img/section/section.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- registration form -->
                        <form action="#" class="sign__form">
                            <a href="index.html" class="sign__logo">
                                <img src="~/Clients/img/logo.png" alt="">
                            </a>

                            <div class="sign__group">
                                <input type="text" class="sign__input" placeholder="UserName" id="tên đăng nhập" >
                            </div>
                            <div class="sign__group">
                                <input type="text" class="sign__input" placeholder="tên" id="Name">
                            </div>
                            <div class="sign__group">
                                <input type="text" class="sign__input" placeholder="họ" id="LastName">
                            </div>

                            <div class="sign__group">
                                <input type="text" class="sign__input" placeholder="email" id="Email">
                            </div>

                            <div class="sign__group">
                                <input type="password" class="sign__input" placeholder="mật khẩu" id="Password">
                            </div>
                            <div class="sign__group">
                                <input type="password" class="sign__input" placeholder="Nhập lại mật khẩu" id="RePassword">
                            </div>

                            <button class="sign__btn" type="button" onclick="return ExecuteCustomer()">Đăng kí</button>

                            <span class="sign__text">Bạn đã có tài khoản? <a href="/Signin">Đăng nhập</a></span>
                        </form>
                        <!-- registration form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="~/Clients/js/jquery-3.3.1.min.js"></script>
    <script src="~/Clients/js/bootstrap.bundle.min.js"></script>
    <script src="~/Clients/js/owl.carousel.min.js"></script>
    <script src="~/Clients/js/jquery.mousewheel.min.js"></script>
    <script src="~/Clients/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Clients/js/wNumb.js"></script>
    <script src="~/Clients/js/nouislider.min.js"></script>
    <script src="~/Clients/js/plyr.min.js"></script>
    <script src="~/Clients/js/jquery.morelines.min.js"></script>
    <script src="~/Clients/js/photoswipe.min.js"></script>
    <script src="~/Clients/js/photoswipe-ui-default.min.js"></script>
    <script>
        var alt = '';
        $(document).ready(function () {
        })
        function ExecuteCustomer() {
            var data = new Object();
            data.UserName = $("#UserName").val() ? $("#UserName").val() : '';
            data.Name = $("#Name").val() ? $("#Name").val() : '';
            data.LastName = $("#LastName").val() ? $("#LastName").val() : '';
            data.Email = $("#Email").val() ? $("#Email").val() : '';
            data.Password = $("#Password").val() ? $("#Password").val() : '';
            debugger
            if (document.getElementById('Password').value !=
                document.getElementById('RePassword').value)
                alert("Mật khẩu nhập lại không trùng khớp!!");
            else {
                $.ajax({
                    url: "/SignUp/ExecuteCustomer",
                    dataType: "json",
                    type: "POST",
                    data: {
                        data: JSON.stringify(data)
                    },
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Lỗi Hệ Thống");
                    },
                    success: function (result) {
                        notiSuccess(result);
                        $("#Password").val('');
                        $("#UserName").val('');
                        $("#Email").val('');
                        $("#Name").val('');
                        $("#LastName").val('');
                        $("#RePassword").val('');
                    }
                });
                return false;
            }
        }
    </script>
</body>
