
@{
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.Title = "Dashboard";
}
<div class="pusher">
    <div class="navslide navwrap">
        <div class="row" style="background-color: white">
            <div class="ui segments">
                <div class="ui segment headerSegmentReport">
                    <span class="headerReport header_form_report">
                       Chào mừng bạn đến trang thống kê
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

